*{
    font-family: 'inter';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#menusuperior{
     background-color: #303030;
     display:flex;
     justify-content: space-around;
     align-items: center;
     width: 1440px;
     height: 103px;

}

#menu a{
    color:#FFFFFF;
    text-decoration: none;
    padding: 10px; 
    font-size: 25px;
    padding-left: 96px;
    padding-top: 25px;

}

#menu button{
    background-color: #0C70F2;
    color:#FFFFFF;
    border: 0px;
    width: 80px;
    height: 40px;
     margin-left: 350px;
     margin-top: 30px;
}

#informações{
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%),
    linear-gradient(0deg, #303030, #303030),linear-gradient(0deg, #BABABA, #BABABA);
    width: 1440px;
    height: 1000px;
    font-family: 'inter';
    text-align: center;
    

}

#texto h1{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 70px;
    padding-top: 40px;
}

#texto p{
    color:#FFFFFF;
    font-size: 30px;
}
    




#final{
    background-color: #0C70F2;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    width: 1440px;
}