*{
    margin: 0px; /*  margin interna*/
    padding: 0px;   /* margin externa*/
}

#superior{
    font-family: 'inter';
    background-color: #303030;
    width: 100%;
    height: 100px;
    font-weight: 600;
    font-size: 25px;

}

#menu{  

        
}

#menu a{
    text-decoration: none;
    color: #FFFFFF;
    
}

#menu button{
    background-color: #0C70F2;
    box-shadow: 3px 2px 4px 0px #0C70F240;
    color: #FFFFFF;
    width: 80px;
    height: 40px;


}